<mat-card>
    <mat-tab-group (selectedTabChange)="onTabChanged($event)">
        <!-- Tab 1 -->
        <ng-container *ngFor="let stock of ['AAPL','GOOG','GOOGL','AMZN']">
            <mat-tab [label]="stock">
                <mat-card-content class="text-center">
                    <button *ngIf="!data" mat-raised-button color="accent" (click)="getData(stock)">Get Data for {{stock}}</button>
                    <h3 *ngIf="data" class="pb-2">{{stock}}</h3>
                    <div *ngIf="data" class="table-div">
                        <table class="text-center" >
                            <tr>
                                <th>S.No.</th>
                                <th>Open</th>
                                <th>High</th>
                                <th>Low</th>
                                <th>Close</th>
                            </tr>
                            <tr *ngFor="let item of data; let i=index">
                                <td> {{i+1}}</td>
                                <td>{{item.open}}</td>
                                <td>{{item.high}}</td>
                                <td>{{item.low}}</td>
                                <td>{{item.close}}</td>
                            </tr>
                        </table>
                    </div>
                </mat-card-content>
            </mat-tab>
        </ng-container>
    </mat-tab-group>
</mat-card>
